*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5;
}
body{
    font-size: 1.6rem;
}
.container{
    border: 0.3rem solid black;
    display: flex;
    height: 50vh;
   
    justify-content: center;
}

.box{
    width: 10rem;
    height: 10rem;
}
/*Con Flex-grow es para crecer los box que necesito*/
.box1{
    background-color: aquamarine;
    flex-grow: 1;
}
.box2{
    background-color: rgb(224, 92, 189);
}
.box3{
    background-color: rgb(225, 164, 85);
}
.box4{
    background-color: aquamarine;
    flex-grow: 2;
}
.box5{
    background-color: rgb(62, 36, 157);
}
.box6{
    background-color: rgb(8, 121, 83);
}